<!-- Account Logo -->
<div class="account-logo">
  <a href="index"
    ><img src="assets/img/logo.png" alt="Dreamguy's Technologies"
  /></a>
</div>
<!-- /Account Logo -->

<div class="account-box">
  <div class="account-wrapper">
    <h3 class="account-title">Reset Password</h3>
    <p class="account-subtitle">Let Us Help You</p>

    <!-- Form -->
    <form action="login">
      <div class="form-group">
        <label
          >Enter your registered email address <span class="login-danger"></span
        ></label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary account-btn" type="submit">
          Reset My Password
        </button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary account-btn" type="submit">Login</button>
      </div>
    </form>
    <!-- /Form -->
  </div>
</div>
